@model IEnumerable<Entities.DTOs.GameDetailsDto>
    @{
        ViewData["Title"] = "Privacy Policy";
    }
        <h1>Emeği Geçenler</h1>

        <p>Mert Şenyıldız</p>

        <p>Fatih Abidin Silan</p>

