<div class="row justify-content-center" style="color:darkred;font-size:500%" >
    <div class="col-md-12 text-center">
        <span>401</span>
    </div>
    <div class="col-md-12 text-center">
        <span>UNAUTHORIZED</span>
    </div>
</div>
